<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>GET-TOO 썬더일레븐 모집</title>

    <!-- Favicon -->
    <link rel="icon" href="../../static/img/core-img/favicon.ico">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="../../static/moim_index.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>

<body>
    <!-- Preloader -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="lds-ellipsis">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">
        <!-- Navbar Area -->
        <div class="oneMusic-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="oneMusicNav">

                        <!-- Nav brand -->
                        <a href="../index.html" class="nav-brand"><img src="../../static/img/core-img/logo.png" alt=""></a>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- Close Button -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li><a href="../index.html">Home</a></li>
                                    <li><a href="albums-store.html">Albums</a></li>
                                    <li><a href="albums-store.html">Albums</a></li>
                                    <li><a href="albums-store.html">Albums</a></li>
                                    <li><a href="#">mypage</a>
                                        <ul class="dropdown">
                                            <li>
                                                <form style="cursor: pointer;">
                                                <a action="####">logout</a>
                                                </form>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <!-- Nav End -->

                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Breadcumb Area Start ##### -->
    <section class="breadcumb-area bg-img bg-overlay" style="position:relative; background-image: url(../../static/img/bg-img/breadcumb3.jpg);">
        <div class="moim_profile">
            <a href="login_index.html"><img src="../../static/img/core-img/icon_back.png" style="width: 30px;"></a>
            <h3>썬더일레븐</h3>
            <div style="float: left;">
                <img src="../../static/img/bg-img/s1.jpg">
            </div>
            <div class="moim_name">
                <p>강수호</p>
            </div>
            <div class="moim_info">
                <p>12/50명 &nbsp;| &nbsp;개설일 2023/04/03</p>
            </div> 
        </div>
    </section>
    <!-- ##### Breadcumb Area End ##### -->

    <section class="moim_container"> <!-- 테이블로 하는 게 나으려나... -->
        <div class="classynav" style="margin-top: 25px; width: 100%;">
            <ul>
                <li>
                    <div class="moim_left">
                        <h5>모집 인원</h5>
                        <p>00명</p>

                        <h5>모집 대상</h5>
                        <p>대전대학교 재학생 중 축구를 사랑하는 누구나 지원 가능</p>
                    </div>
                </li>
                <li>
                    <div class="moim_right">
                        <h5>모집 기간</h5>
                        <p>2023년 5월 30일까지</p>

                        <h5>지원 방법</h5>
                        <p>지원하기 버튼으로 지원</p>
                    </div>
                </li>
            </ul>
        </div>
        <div>
            <ul>
                <li>
                    <div class="moim_center">
                        <h5>동아리 소개</h5>
                        <p>축구를 사랑하는 모임입니다.</p>
                    </div>
                </li>
                <li>
                    <div class="moim_center">
                        <h5>동아리 활동 사진</h5>
                        <div class="moim_img">
                            <article>
                                <img src="../../static/img/bg-img/s1.jpg">
                            </article>
                            <article>
                                <img src="../../static/img/bg-img/s1.jpg">
                            </article>
                            <article>
                                <img src="../../static/img/bg-img/s1.jpg">
                            </article>
                            <article>
                                <img src="../../static/img/bg-img/s1.jpg">
                            </article>
                            <article>
                                <img src="../../static/img/bg-img/s1.jpg">
                            </article>
                            <article>
                                <img src="../../static/img/bg-img/s1.jpg">
                            </article>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>

    <div class="row" style="margin-bottom: 20px;">
        <div class="col-12">
            <div class="load-more-btn text-center" style="margin-top: 60px;">
                <a href="#" class="btn oneMusic-btn" id="load">지원 신청하기<i class="fa fa-angle-double-right"></i></a>
            </div>
        </div>
    </div>

    <section style="background-color: rgb(103, 103, 103);">
        <div class="moim_footer">
            <h5 style="color: white; margin-top: 10px;">이런 동아리는 어때요?</h5>
            <div style="float: left;">
                <img src="../../static/img/bg-img/s1.jpg">
            </div>
            <div class="recom">
                <h5>야사모</h5>
                야구를 좋아하는 사람들이 모인 야구 동아리입니다.
            </div>
            <div class="btn-area">
                <button id="btn" href="####"> 더 알아보기 </button>
                <button id="btn" href="####"> 목록으로 가기 </button>
            </div> 
        </div>

        <div class="moim_footer">
            <h5 style="color: white; margin-top: 10px;">이런 동아리는 어때요?</h5>
            <div style="float: left;">
                <img src="../../static/img/bg-img/s2.jpg">
            </div>
            <div class="recom">
                <h5>코스모스</h5>
                대전대학교 최고 댄드 동아리.
            </div>
            <div class="btn-area">
                <button id="btn" href="####"> 더 알아보기 </button>
                <button id="btn" href="####"> 목록으로 가기 </button>
            </div> 
        </div>

        <div class="moim_footer">
            <h5 style="color: white; margin-top: 10px;">이런 동아리는 어때요?</h5>
            <div style="float: left;">
                <img src="../../static/img/bg-img/s3.jpg">
            </div>
            <div class="recom">
                <h5>청룡응원단</h5>
                치어리더를 꿈꾸는 자 모두 모여라
            </div>
            <div class="btn-area">
                <button id="btn" href="####"> 더 알아보기 </button>
                <button id="btn" href="####"> 목록으로 가기 </button>
            </div> 
        </div>

        <div class="moim_footer">
            <h5 style="color: white; margin-top: 10px;">이런 동아리는 어때요?</h5>
            <div style="float: left;">
                <img src="../../static/img/bg-img/s4.jpg">
            </div>
            <div class="recom">
                <h5>테일즈런너</h5>
                달리기도 하고 미니게임도 하면서 건강 챙겨가세요!
            </div>
            <div class="btn-area">
                <button id="btn" href="####"> 더 알아보기 </button>
                <button id="btn" href="####"> 목록으로 가기 </button>
            </div> 
        </div>

        <script>
            var random = Math.floor(Math.random() * $('.moim_footer').length);
            $('.moim_footer').hide().eq(random).show();
        </script>
    </section>

    

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area">
        <div class="container">
            <div class="row d-flex flex-wrap align-items-center">
                <div class="col-12 col-md-6">
                    <a href="#"><img src="../../static/img/core-img/logo.png" alt=""></a>
                    <p class="copywrite-text"><a href="#"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                </div>

                <div class="col-12 col-md-6">
                    <div class="footer-nav">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Albums</a></li>
                            <li><a href="#">Events</a></li>
                            <li><a href="#">News</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area Start ##### -->

    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="../../static/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="../../static/js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="../../static/js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="../../static/js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="../../static/js/active.js"></script>

    <script>
</script>
</body>

</html>