<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>썬더일레븐 공지사항 게시판</title>

    <!-- Favicon -->
    <link rel="icon" href="../../static/img/core-img/favicon.ico">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="../../static/moim_index.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>

<body>
    <!-- Preloader -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="lds-ellipsis">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">
        <!-- Navbar Area -->
        <div class="oneMusic-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="oneMusicNav">

                        <!-- Nav brand -->
                        <a href="../index.html" class="nav-brand"><img src="../../static/img/core-img/logo.png" alt=""></a>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- Close Button -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li><a href="../index.html">Home</a></li>
                                    <li><a href="albums-store.html">Albums</a></li>
                                    <li><a href="albums-store.html">Albums</a></li>
                                    <li><a href="albums-store.html">Albums</a></li>
                                    <li><a href="#">mypage</a>
                                        <ul class="dropdown">
                                            <li>
                                                <form style="cursor: pointer;">
                                                <a action="####">logout</a>
                                                </form>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <!-- Nav End -->

                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Breadcumb Area Start ##### -->
    <section class="breadcumb-area bg-img bg-overlay" style="position:relative; background-image: url(../../static/img/bg-img/breadcumb3.jpg);">
        <div class="moim_profile">
            <a href="login_index.html"><img src="../../static/img/core-img/icon_back.png" style="width: 30px;"></a>
            <h3>썬더일레븐</h3>
            <div style="float: left;">
                <img src="../../static/img/bg-img/s1.jpg">
            </div>
            <div class="moim_name">
                <p>강수호</p>
            </div>
            <div class="moim_info">
                <p>12/50명 &nbsp;| &nbsp;개설일 2023/04/03</p>
            </div> 
        </div>
    </section>
    <!-- ##### Breadcumb Area End ##### -->

    <section class="moim_container">
        <div class="board_wrap">
            <div class="board_title">
                <strong>공지사항</strong>
                <p>공지사항을 빠르고 정확하게 안내해드립니다.</p>
            </div>
            <div class="board_list_wrap">
                <div class="board_list">
                    <div class="top">
                        <div class="num">번호</div>
                        <div class="title">제목</div>
                        <div class="writer">글쓴이</div>
                        <div class="date">작성일</div>
                        <div class="count">조회</div>
                    </div>
                    <div>
                        <div class="num">5</div>
                        <div class="title"><a href="10.notice_board_view.html">글 제목이 들어갑니다.</a></div>
                        <div class="writer">김이름</div>
                        <div class="date">2021.1.15</div>
                        <div class="count">33</div>
                    </div>
                    <div>
                        <div class="num">4</div>
                        <div class="title"><a href="10.notice_board_view.html">글 제목이 들어갑니다.</a></div>
                        <div class="writer">김이름</div>
                        <div class="date">2021.1.15</div>
                        <div class="count">33</div>
                    </div>
                    <div>
                        <div class="num">3</div>
                        <div class="title"><a href="10.notice_board_view.html">글 제목이 들어갑니다.</a></div>
                        <div class="writer">김이름</div>
                        <div class="date">2021.1.15</div>
                        <div class="count">33</div>
                    </div>
                    <div>
                        <div class="num">2</div>
                        <div class="title"><a href="10.notice_board_view.html">글 제목이 들어갑니다.</a></div>
                        <div class="writer">김이름</div>
                        <div class="date">2021.1.15</div>
                        <div class="count">33</div>
                    </div>
                    <div>
                        <div class="num">1</div>
                        <div class="title"><a href="10.notice_board_view.html">글 제목이 들어갑니다.</a></div>
                        <div class="writer">김이름</div>
                        <div class="date">2021.1.15</div>
                        <div class="count">33</div>
                    </div>
                </div>
                <div class="board_page">
                    <a href="#" class="bt first"></a>
                    <a href="#" class="bt prev"></a>
                    <a href="#" class="num on">1</a>
                    <a href="#" class="num">2</a>
                    <a href="#" class="num">3</a>
                    <a href="#" class="num">4</a>
                    <a href="#" class="num">5</a>
                    <a href="#" class="bt next">></a>
                    <a href="#" class="bt last">>></a>
                </div>
                <div class="bt_wrap">
                    <a href="write.html" class="on">등록</a>
                    <!--<a href="#">수정</a>-->
                </div>
            </div>
        </div>
    </section>

    

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area">
        <div class="container">
            <div class="row d-flex flex-wrap align-items-center">
                <div class="col-12 col-md-6">
                    <a href="#"><img src="../../static/img/core-img/logo.png" alt=""></a>
                    <p class="copywrite-text"><a href="#"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                </div>

                <div class="col-12 col-md-6">
                    <div class="footer-nav">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Albums</a></li>
                            <li><a href="#">Events</a></li>
                            <li><a href="#">News</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area Start ##### -->

    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="../../static/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="../../static/js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="../../static/js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="../../static/js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="../../static/js/active.js"></script>

    <script>
</script>
</body>

</html>